.navBar {
  height: 40px;
  display: inline-block;
  margin-right: 0.8rem;
}

.hero {
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 50%;
  z-index: 0;
  padding: 0.3rem;
}

.footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0.4rem;
  height: 100px;
}
