$color-yellow: #F4D35E; // Orange Yellow Crayolga
$color-orange: #EE964B; // Sandy Brown
$color-gray: #6b7280; // Slate Gray
$color-creme: #faf0ca; // Lemon Meringue
$color-purple: #1a1423; // Xiketic